{% load staticfiles %}
    <div class="row">
        <div class="col-md-6">
            <div id="icon">
                <a href="https://uk.linkedin.com/in/harry-keen-86055053">
                    <img class="img-responsive" src="{% static 'home/img/linkedin.png' %}" alt="">
                </a>
            </div></br>
            <div id="icon">
                <a href="https://github.com/harrykeen18/">
                    <img class="img-responsive" src="{% static 'home/img/github.png' %}" alt="">
                </a>
            </div></br>
            <div id="icon">
                <a href="https://twitter.com/harry_keen18">
                    <img class="img-responsive" src="{% static 'home/img/twitter.png' %}" alt="">
                </a>
            </div></br>
        </div>

        <div class="col-md-6">
            <a class="twitter-timeline" href="https://twitter.com/harry_keen18">Tweets by harry_keen18</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

