{% load static %}

        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="https://github.com/harrykeen18/dxf-three.js-JSON_translator">
                    <img class="img-responsive" src="{% static 'home/img/ucf-header.png' %}" alt="">
                </a>
                <h3>
                    <a href="https://github.com/harrykeen18/ultimate-cad-format">Ultimate CAD format</a>
                </h3>
                <p>A project to end the tyranny of proprietry CAD formats.</p>
                <p><a href="https://github.com/harrykeen18/ultimate-cad-format">GIT repo</a></p>

            </div>
            <div class="col-md-6 portfolio-item">
                <a href="http://harrykeen18.github.io/dxf-three.js-JSON_translator/">
                    <img class="img-responsive" src="{% static 'home/img/dxf-json.png' %}" href="http://harrykeen18.github.io/dxf-three.js-JSON_translator/" alt="">
                </a>
                <h3>
                    <a href="https://github.com/harrykeen18/dxf-three.js-JSON_translator">DXF to three.js translator</a>
                </h3>
                <p>A python translator to convert .dxf in to an readable/editable three.js format.</p>
                <p><a href="https://github.com/harrykeen18/dxf-three.js-JSON_translator">GIT repo</a></p>
                <p><a href="http://harrykeen18.github.io/dxf-three.js-JSON_translator/">GIT pages</a></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="https://www.opendesk.cc/blog/opendesk-at-autodesk">
                    <img class="img-responsive" src="{% static 'home/img/ODatAU-header.png' %}" alt="">
                </a>
                <h3>
                    <a href="https://www.opendesk.cc/blog/opendesk-at-autodesk">Opendesk at Autodesk</a>
                </h3>
                <p>Looking at integrating the Opendesk authoring and production workflow with Autodesk Fusion360.</p>
                <p><a href="https://www.opendesk.cc/blog/opendesk-at-autodesk">Blog post</a></p>
                <p><a href="https://github.com/opendesk/opendesk-on-demand/tree/spike/fusion">GIT repo</a></p>

            </div>
            <div class="col-md-6 portfolio-item">
                <a href="https://www.opendesk.cc/blog/opendesk-on-demand">
                    <img class="img-responsive"  src="{% static 'home/img/ODonDemand-header.png' %}" alt="">
                </a>
                <h3>
                    <a href="https://www.opendesk.cc/blog/opendesk-on-demand">Opendesk-on-demand</a>
                </h3>
                <p>Moving our internal workflow to a browser based on demand request system.</p>
                <p><a href="https://www.opendesk.cc/blog/opendesk-on-demand">Blog post</a></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="http://www.gokami.com/">
                    <img class="img-responsive"  src="{% static 'home/img/gokami-header.png' %}" alt="">
                </a>
                <h3>
                    <a href="http://www.gokami.com/">Gokami</a>
                </h3>
                <p>Building a travel guide business.</p>
                <p><a href="http://www.gokami.com/">Website</a></p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="http://www.foxa.co.uk/">
                    <img class="img-responsive" src="{% static 'home/img/foxa-header.png' %}" alt="">
                </a>
                <h3>
                    <a href="http://www.foxa.co.uk/">Foxa</a>
                </h3>
                <p>A clothing brand.</p>
                <p><a href="http://www.foxa.co.uk/">Wesbite</a></p>

            </div>
        </div>
        <!-- /.row -->

    <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="https://www.kickstarter.com/projects/2115556539/foxa-embroidered-sweatshirt">
                    <img class="img-responsive"  src="{% static 'home/img/kickstarter-header.png' %}" alt="">
                </a>
                <h3>
                    <a href="https://www.kickstarter.com/projects/2115556539/foxa-embroidered-sweatshirt">Foxa - Kickstarter</a>
                </h3>
                <p>Kickstarter project to raise money for Foxa.</p>
                <p><a href="https://www.kickstarter.com/projects/2115556539/foxa-embroidered-sweatshirt">kickstarter.com</a></p>
            </div>
            <!-- <div class="col-md-6 portfolio-item">
                <a href="http://www.foxa.co.uk/">
                    <img class="img-responsive" src="{% static 'home/img/foxa-header.png' %}" alt="">
                </a>
                <h3>
                    <a href="http://www.foxa.co.uk/">Foxa</a>
                </h3>
                <p>A clothing brand.</p>
                <p><a href="http://www.foxa.co.uk/">Wesbite</a></p>

            </div> -->
        </div>
        <!-- /.row -->
